<!-- Navigation Bar -->
<nav class="navbar navbar-expand-lg navbar-light bg-light">
    <div class="container-fluid">
        <a class="navbar-brand" href="/">Martial Arts Competitions</a>
        <button class="navbar-toggler" type="button" data-bs-toggle="collapse" data-bs-target="#navbarNav"
            aria-controls="navbarNav" aria-expanded="false" aria-label="Toggle navigation">
            <span class="navbar-toggler-icon"></span>
        </button>
        <div class="collapse navbar-collapse" id="navbarNav">
            <ul class="navbar-nav ms-auto">
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'home' ? 'active' : '' %>" href="/">Home</a>
                </li>
                <li class="nav-item">
                    <a class="nav-link <%= currentPage === 'events' ? 'active' : '' %>" href="/events">Events</a>
                </li>
                
                <% if (user) { %>
                    <!-- Logged in navigation options -->
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'my-events' ? 'active' : '' %>" href="/my-events">My Events</a>
                    </li>
                    
                    <% if (user.isAdmin) { %>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'create-event' ? 'active' : '' %>" href="/create-event">Create Event</a>
                    </li>
                    <% } %>
                    
                    <li class="nav-item dropdown">
                        <a class="nav-link dropdown-toggle" href="#" id="navbarDropdown" role="button" data-bs-toggle="dropdown" aria-expanded="false">
                            <%= user.username %>
                        </a>
                        <ul class="dropdown-menu dropdown-menu-end" aria-labelledby="navbarDropdown">
                            <li><a class="dropdown-item" href="/profile">Profile</a></li>
                            <li><a class="dropdown-item" href="/my-registrations">My Registrations</a></li>
                            <% if (!user.isAdmin) { %>
                            <li><a class="dropdown-item" href="/become-admin">Apply for Event Creator</a></li>
                            <% } %>
                            <li><hr class="dropdown-divider"></li>
                            <li><a class="dropdown-item" href="/logout">Logout</a></li>
                        </ul>
                    </li>
                <% } else { %>
                    <!-- Guest navigation options -->
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'login' ? 'active' : '' %>" href="/login">Login</a>
                    </li>
                    <li class="nav-item">
                        <a class="nav-link <%= currentPage === 'register' ? 'active' : '' %>" href="/register">Register</a>
                    </li>
                <% } %>
            </ul>
        </div>
    </div>
</nav>
